.search-controls {
	background-color: hsl(0, 0%, 50%);
	padding: 10px;
	display: flex;
	justify-items: baseline;
	justify-content: center;
}

.filter-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	justify-items: baseline;
	padding: 10px;
	background-color: hsl(0, 0%, 80%);
}

label {
	margin: 5px;
}
