.content {
	display: flex;
}
img {
	flex: 1;
	max-height: 200px;
	max-width: 150px;
	margin: 10px;
}

.description {
	flex: 2;
}

.list-item {
	border: solid black 1px;
	margin: 10px auto;
	padding: 20px;
}

.list {
	max-width: 900px;
	margin: 20px auto;
}
